{{- /* Shortcode which can be used to display team members in a given set of departments (optionally) with the team's manager */}}
{{- /* Team manager is identified using a regular expression which should match the manager's role entry in their YAML file */}}
{{- /* Departments and role value can be updated at https://gitlab.com/gitlab-com/www-gitlab-com/-/tree/master/data/team_members/person */}}

{{- /* Departments and role value can be updated at https://gitlab.com/gitlab-com/www-gitlab-com/-/tree/master/data/team_members/person */}}
{{- /* For usage information: https://handbook.gitlab.com/docs/shortcodes/#team-by-departments */}}

{{- $departments := slice }}
{{- $manager := dict }}
{{- $managerRole := slice }}

{{- if .IsNamedParams }}
  {{- with .Get "manager-role" }}
    {{- $managerRole = . }}
  {{- end }}
  {{- with .Get "departments"}}
    {{- $departments = strings.Split . "," }}
  {{- end }}
  {{- with .Get "department" }}
    {{- $departments = append (strings.Split . ",") $departments }}
  {{- end }}
{{- else }}
  {{- $departments = (slice (.Get 0)) }}
{{- end }}

{{- $members := where site.Data.public.team "departments" "intersect" $departments }}
{{- $members = sort (uniq $members) "name" }}
{{- $manager = index (where site.Data.public.team "role" "like" $managerRole) 0 }}

<table>
    <thead>
        <th>Name</th>
        <th>Role</th>
    </thead>
    <tbody>
        {{- with $manager }}
        <tr>
          <td>{{ partial "member/with-team-link" . }}</td>
          <td>{{ .role | safe.HTML }}</td>
        </tr>
        {{- end }}
        {{- range $members }}
          <tr>
              <td>{{ partial "member/with-team-link" . }}</td>
              <td>{{ .role | safe.HTML }}</td>
          </tr>
        {{- end }}
    </tbody>
</table>
